{% macro construct_form(form, btntext) %}

<form method="POST" id="user_form">
    {{ form.hidden_tag() }}

    {% for field in form if field.widget.input_type != 'hidden' %}
    {% for error in field.errors %}
    <span class="text-danger">{{ error }}</span>
    {% endfor %}
    {{ field(placeholder=field.label.text, class="form-control") }}
    {% endfor %}

    {% if btntext %}<button class="btn btn-primary btn-block btn-lg">{{ btntext }}</button>{% endif %}
</form>

{% endmacro %}


{% macro construct_follow_btn(user) %}

{% if g.user.is_following(user) %}
<form method="POST" action="/users/stop-following/{{ user.id }}">
    <button class="btn btn-primary">Unfollow</button>
</form>
{% else %}
<form method="POST" action="/users/follow/{{ user.id }}">
    <button class="btn btn-outline-primary">Follow</button>
</form>
{% endif %}

{% endmacro %}

{% macro construct_message(msg, user) %}

<li class="list-group-item">
    <a href="/messages/{{ msg.id  }}" class="message-link" />
    <a href="/users/{{ msg.user.id }}">
        <img src="{{ msg.user.image_url }}" alt="" class="timeline-image">
    </a>
    <div class="message-area">
        <a href="/users/{{ msg.user.id }}">@{{ msg.user.username }}</a>
        <span class="text-muted">{{ msg.timestamp.strftime('%d %B %Y') }}</span>
        <p>{{ msg.text }}</p>
    </div>
    {% if msg.user != g.user %}
    <form method="POST" action="/users/add_like/{{ msg.id }}" id="messages-form">
        <button class="btn btn-sm {{'btn-primary' if msg in user.likes else 'btn-secondary'}}">
            <i class="fa fa-thumbs-up"></i>
        </button>
    </form>
    {% endif %}
</li>

{% endmacro %}

{% macro construct_user_card(user) %}

<div class="col-lg-4 col-md-6 col-12">
    <div class="card user-card">
        <div class="card-inner">
            <div class="image-wrapper">
                <img src="{{ user.header_image_url }}" alt="" class="card-hero">
            </div>
            <div class="card-contents">

                <a href="/users/{{ user.id }}" class="card-link">
                    <img src="{{ user.image_url }}" alt="Image for {{ user.username }}" class="card-image">
                    <p>@{{ user.username }}</p>
                </a>

                {{ construct_follow_btn(user) }}

            </div>
            <p class="card-bio">{{ user.bio }}</p>
        </div>

    </div>
</div>

{% endmacro %}